USE [master]
GO
/****** Object:  Database [dbRunIt]    Script Date: 14-12-2016 12:39:36 ******/
CREATE DATABASE [dbRunIt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbRunIt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbRunIt.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbRunIt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbRunIt_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbRunIt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbRunIt]
GO
/****** Object:  Table [dbo].[tblBeskeder]    Script Date: 14-12-2016 12:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblBeskeder](
	[fldID] [int] IDENTITY(1,1) NOT NULL,
	[fldNavn] [varchar](150) NOT NULL,
	[fldEmail] [varchar](150) NOT NULL,
	[fldEmne] [varchar](100) NOT NULL,
	[fldBesked] [varchar](8000) NOT NULL,
 CONSTRAINT [PK_tblBeskeder] PRIMARY KEY CLUSTERED 
(
	[fldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblEmailSys]    Script Date: 14-12-2016 12:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblEmailSys](
	[fldID] [int] IDENTITY(1,1) NOT NULL,
	[fldEmail] [varchar](100) NOT NULL,
	[fldPassword] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tblEmailSys] PRIMARY KEY CLUSTERED 
(
	[fldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblEvents]    Script Date: 14-12-2016 12:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblEvents](
	[fldID] [int] IDENTITY(1,1) NOT NULL,
	[fldTitle] [varchar](50) NOT NULL,
	[fldBeskrivelse] [varchar](5000) NOT NULL,
	[fldDistance] [float] NOT NULL,
	[fldPris] [smallint] NOT NULL,
	[fldImg] [varchar](50) NOT NULL,
	[fldPladser] [smallint] NOT NULL,
	[fldDato] [datetime] NULL,
	[fldTeaser] [varchar](1000) NULL,
	[fldRegionFK] [smallint] NULL,
 CONSTRAINT [PK_tblEvents] PRIMARY KEY CLUSTERED 
(
	[fldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblKategori]    Script Date: 14-12-2016 12:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblKategori](
	[fldID] [int] IDENTITY(1,1) NOT NULL,
	[fldKategori] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblKategori] PRIMARY KEY CLUSTERED 
(
	[fldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblKontakt]    Script Date: 14-12-2016 12:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblKontakt](
	[fldID] [int] IDENTITY(1,1) NOT NULL,
	[fldNavn] [varchar](50) NOT NULL,
	[fldBeskrivelse] [varchar](500) NOT NULL,
	[fldPost] [varchar](50) NOT NULL,
	[fldImg] [varchar](50) NOT NULL,
	[fldEmail] [varchar](50) NULL,
 CONSTRAINT [PK_tblKontakt] PRIMARY KEY CLUSTERED 
(
	[fldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblNyhedsbrev]    Script Date: 14-12-2016 12:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblNyhedsbrev](
	[fldID] [int] IDENTITY(1,1) NOT NULL,
	[fldEmail] [varchar](150) NOT NULL,
	[fldEmailString] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tblNyhedsbrev] PRIMARY KEY CLUSTERED 
(
	[fldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRegion]    Script Date: 14-12-2016 12:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblRegion](
	[fldID] [int] IDENTITY(1,1) NOT NULL,
	[fldRegion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tblRegion] PRIMARY KEY CLUSTERED 
(
	[fldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblSponsore]    Script Date: 14-12-2016 12:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSponsore](
	[fldID] [int] IDENTITY(1,1) NOT NULL,
	[fldSponsore] [varchar](50) NOT NULL,
	[fldImg] [varchar](50) NOT NULL,
	[fldKatFk] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblSponsore] PRIMARY KEY CLUSTERED 
(
	[fldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTilmeldte]    Script Date: 14-12-2016 12:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTilmeldte](
	[fldID] [int] IDENTITY(1,1) NOT NULL,
	[fldEmail] [varchar](150) NOT NULL,
	[fldEventFK] [int] NOT NULL,
 CONSTRAINT [PK_tblTilmeldte] PRIMARY KEY CLUSTERED 
(
	[fldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 14-12-2016 12:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[fldID] [int] IDENTITY(1,1) NOT NULL,
	[fldUserName] [nvarchar](100) NOT NULL,
	[fldPassword] [nvarchar](100) NOT NULL,
	[fldSalt] [nvarchar](50) NULL,
	[fldEmail] [nvarchar](150) NULL,
	[fldString] [nvarchar](50) NULL,
	[fldDato] [date] NULL CONSTRAINT [DF_tblUsers_fldDato]  DEFAULT (getdate()),
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[fldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tblTilmeldte]  WITH CHECK ADD  CONSTRAINT [FK_tblTilmeldte_tblEvents] FOREIGN KEY([fldEventFK])
REFERENCES [dbo].[tblEvents] ([fldID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblTilmeldte] CHECK CONSTRAINT [FK_tblTilmeldte_tblEvents]
GO
USE [master]
GO
